{% extends 'portal/base.html' %}
{% block main_page %}
<div id="available_job" class="cd-section" style="padding-top: 3%;">
    <div class="container">
        <h1 class="title" style="color: white;">Available Jobs</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-body">
                                <h5 class="card-category card-category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> Software Engineering
                                </h5>
                                <h4 class="card-title">
                                    <a href="{{ url_for('portal.test') }}">Python Internship available</a>
                                </h4>
                                <p class="card-description">
                                    We need a pythonn developer who can work on python frameworks to develop web site
                                    and is avaiable for 6-12 months. And has knowledge of python web frameworks.
                                </p>
                            </div>
                            <div class="card-footer ">

                                <div class="stats ml-auto">
                                    <i class="material-icons">schedule</i> 5 min read
                                </div>
                            </div>

                        </div>
                        <div class="back">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Skills & Frameworks
                                </h5>
                                <p class="card-description">
                                    <span class="badge badge-primary">Python</span>
                                    <span class="badge badge-info">Django</span>
                                    <span class="badge badge-success">Flask</span>
                                    <span class="badge badge-warning">HTML</span>
                                    <span class="badge badge-default">CSS</span>
                                </p>
                                <div class="footer text-center">
                                    <a href="{{ url_for('portal.test') }}" class="btn btn-rose btn-round">
                                        <i class="material-icons">input</i> Apply
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>









        </div>
    </div>
</div>

<script src="{{url_for('portal.static', filename='js/three.r95.min.js')}}"></script>
<script src="{{ url_for('portal.static', filename='js/vanta.rings.min.js')}}"></script>
<script>
    VANTA.RINGS({
        el: "#bdy",
        mouseControls: true,
        touchControls: true,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        backgroundColor: 0x464646,
        color: 0xffffff
    })
</script>

{% endblock %}