{% extends 'portal/base.html' %}
{% block main_page %}
<div id="cards" class="cd-section" style="margin-top: 3%;">
    <div class="container">
        <div class="card bg-white px-4">
            <h2 class="title text-center"> Personality test</h2>
            <hr>
            <div class="px-4 ">
                <p class="title" style="font-size: 19px; text-align: justify;"> You have got only 15 min to complete
                    this test. once you
                    submit the test no further changes will be allowed. Read all the rules very carefully: <br>
                <ol>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                </ol>
                </p>

            </div>
            <hr>
            <div class="px-4 ">
               <span class="text-danger">sfsdfsdf{{job['personality']}}</span> 
                <form action="{{url_for('portal.personality_test',job_id=job['_id'],test_id=test_id)}}" id="testForm" method="POST">
                {% for question in job['personality'] %}
                <div>
                    <div>
                        <h3 class="title" style="display: inline-block;">Q. </h3>
                        <p class="title" style="font-size: 19px; text-align: justify; display: inline-block;">
                            {{question['question']}}
                    </div>
                    <div class="row px-4 ">
                        {% for option in question['options'] %}
                        <div class="form-check form-check-radio col-md-3">
                            <label class="form-check-label text-black">
                                <input class="form-check-input" type="radio" name="{{question['question']}}"
                                    id="exampleRadios1" value="{{option}}">

                                {{option}}
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                
                <hr>
                <input type="radio" name="name" value="name">
                <input type="submit" onclick="document.getElementById('testForm').submit();"
                    class="btn btn-primary">Submit</button>
                </form>

                
            </div>
        </div>
    </div>
</div>
{% endblock %}