{% extends 'portal/base.html' %}
{% block main_page %}
<div id="cards" class="cd-section" style="margin-top: 3%;">
    <div class="container">
        <div class="card bg-white px-4">
            <h2 class="title text-center"> Aptitude test</h2>
            <hr>
            <div class="px-4 ">
                <p class="title" style="font-size: 19px; text-align: justify;"> You have got only 15 min to complete
                    this test. once you
                    submit the test no further changes will be allowed. Read all the rules very carefully: <br>
                <ol>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                    <li class="title my-0" style="font-size: 18px;">
                        Do not try to switch or minimize tab, or else you'll logged out.
                    </li>
                </ol>
                </p>

            </div>
            <hr>
            <div class="px-4 ">
                <form action="{{url_for('portal.test',job_id=job['_id'])}}" id="testForm" method="POST">
                    <ol>


                        {% for question in job['aptitude'] %}
                        <div>
                            <div>
                                <li>
                                    <p class="title"
                                        style="font-size: 19px; text-align: justify; display: inline-block;">
                                        {{question['question']}}</p>
                                </li>
                            </div>
                            <div class="row px-4 ">
                                {% for option in question['options'] %}
                                <div class="form-check form-check-radio col-md-3">
                                    <label class="form-check-label text-black">
                                        <input class="form-check-input" type="radio" name="{{question['question']}}"
                                            id="exampleRadios1" value="{{option}}">

                                        {{option}}
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </ol>
                    <hr>
                    <input type="submit" onclick="document.getElementById('testForm').submit();"
                        class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock %}